body
{
    font-family: 'Montserrat', sans-serif;
}
h1 
{  
    font-size: 3rem;  
    line-height: 1.5;  
    font-weight: 900;
}

h2
{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}

#title
{
    color: white;
    background-color: #ff4c68;
}

.container-fluid
{
    padding: 3% 15% 10%;
}

.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar 
{
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 4.5rem;
}

.nav-item
{
    padding-left: 18px;
    padding-right: 18px;
}

.nav-link
{
    font-size: 1.2rem;
}

.download-button
{
    margin: 5% 3% 5% 0;
}

.title-image
{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

.icon
{
    color: #ef8172;
    margin-bottom: 10%;
}

.icon:hover
{
    color: #ff4c68;
}

.features
{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.item
{
    text-align: center;
    padding: 5%;
}

#testimonials
{
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image
{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press
{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo
{
    width: 15%;
    margin-left: 3%;
    margin-right: 3%;
}

.carousel-item
{
    padding: 7% 15%;
}

#pricing
{
    padding: 100px; 
}

.pricing-column
{
    padding: 3% 2%;
    text-align: center;
}

@media (max-width: 1028px)
{
    .title-image
    {
        transform: rotate(0);
        position: static;
    }
    #title
    {
        text-align: center;
    }
}

#cta 
{
    text-align: center;
    background-color: #ff4c68;
    color: white;
    padding: 10%;
}

#cta h3 
{
    font-size: 3rem;
}

#footer
{
    text-align: center;
    color: #8f8f8f;
    padding: 5%;
}

#icons
{
    color: black;
    margin-bottom: 2%;
}

#icons i 
{
    margin-left: 1%;
    margin-right: 1%;
}